# Ignore everything in the .vscode directory (setting folder)
.vscode/*
Project/.vscode/*

# Add other directories:
Project/build/*
build/*


# Ignore specfic files:
Zephyr.code-workspace

# Ignore test results
Project/tests/results/*
