# Ignore everything in the .vscode directory (setting folder)
.vscode/*
Project/.vscode/*

# Ignore itself
.gitignore

# Add other directories:
Project/build/*
build/*


# Ignore specfic files:
Zephyr.code-workspace



